// app global css in SCSS form
html[class='dark'] {
  .bg-header-auto {
    background: var(--q-dark);
  }
  .transparent_theme {
    .q-card,
    .q-markup-table,
    .q-header,
    .q-drawer {
      background-color: rgba($color: black, $alpha: 0.8);
    }
  }
}

.bg-header-auto {
  background: var(--q-light);
  background-color: white;
}
.svg-fill {
  fill: $primary;
}
.svg-stroke {
  //jiayou
  stroke: $primary;
}

.transparent_theme {
  .q-card,
  .q-markup-table,
  .q-header,
  .q-drawer,
  .q-panel,
  .q-tab-panel,
  .q-tab-panels {
    background-color: rgba($color: white, $alpha: 0.8);
  }
}
